#add-rating{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
    margin-bottom: 40px;
}

#add-rating select{
    border-color: black;
    height: 100%;
    padding-left: 10px;
    border-radius: 10px;
}

#add-rating input{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
}

/* Medium size screens and bigger */
@media only screen and (min-width: 768px) {
    #add-rating label{
        margin-right: 35px;
    }
    
    #add-rating select{
        margin-right: 10px;
        width: 120px;
    }

    #add-rating input{
        float: right;
    }
    
}

/* Extra small size screens */
@media only screen and (max-width: 575px) {
    .form-elements{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #add-rating label{
        margin-top: 20px;
    }

    #add-rating select{
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}